$main_font:'Poppins';
$main_color: #181818;
$white: #FFFFFF;
$silver: #C0C0C0;

header{
    padding: 30px 0px 29px; 
    background-color: $main_color;
    position: fixed;
    width: 100%;
    z-index: 5;
    .container{
        max-width: 1200px; 
        margin: auto; 
        display: flex; 
        justify-content: space-between; 
        padding: 0 20px 0 32px; 
        box-sizing: border-box;
        align-items: center;
    }
}
.a-studios{
    background-image: url("../img/ApStud.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.a-studios{
    .wraper{
        max-width: 600px;
        h4{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $silver;
        }
        h1{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 59px;
            text-align: center;
            color: $white;
            margin-bottom: 18px;
        }
        p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $silver;
            margin-bottom: 71px;
        }
    }
    ul{
        position: absolute;
        right: 40px;
        bottom: 46px;
        display: flex;
        list-style: none;
        text-decoration: none;
        li{
            margin-left: 16px;
            &:nth-child(1)::before{
                content: url("../img/image1.svg");
                margin-right: 6px;
            }
            &:nth-child(2)::before{
                content: url("../img/image2.svg");
                margin-right: 6px;
            }
            &:nth-child(3)::before{
                content: url("../img/image3.svg");
                margin-right: 7px;
            }
            &:nth-child(4)::before{
                content: url("../img/image4.svg");
                margin-right: 6px;
            }
            a{
                font-family: $main_font;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}
.what_we_do{
    padding: 120px 0px 84px;
    background-color: #000000;
    .wraper{
        max-width: 1200px;
        padding: 0px 16px;
        margin: auto;
        h1{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            color: $white;
            margin-bottom: 15px;
        }
        h3{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 30px;
            text-align: center;
            color: $silver;
            margin-bottom: 42px;
        }
    }
    .holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    article{
        max-width: 576px;
        position: relative;
        margin-bottom: 16px;
        img{
            width: 100%;
        }
    }
    .describe{
        position: absolute;
        width: 100%;
        padding: 0px 30px;
        box-sizing: border-box;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        bottom: 0;
        h4{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 30px;
        }
        p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $silver;
            margin-bottom: 17px;
        }
        a{
            position: relative;
            background: $white;
            border-radius: 14px;
            padding: 9px 10px 13px 42px;
            margin-bottom: 30px;
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #000000;
            text-decoration: none;
            &::before{
                position: absolute;
                content: " ";
                background-color: #000000;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                left: 4px;
                top: 5px;
            }
        }
    }
}
.sunset{
    min-height: 600px;
    background-image: url(../img/sunset.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    padding-right: 62px;
    .description{
        max-width: 298px;
        h5{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
        }
        p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $silver;
        }
    }
    ul{
        display: flex;
        position: absolute;
        list-style: none;
        right: 40px;
        bottom: 45px;
        li{
            margin-left: 16px;
            &:nth-child(1)::before{
                content: url("../img/image1.svg");
                margin-right: 6px;
            }
            &:nth-child(2)::before{
                content: url("../img/image2.svg");
                margin-right: 6px;
            }
            &:nth-child(3)::before{
                content: url("../img/image3.svg");
                margin-right: 7px;
            }
            &:nth-child(4)::before{
                content: url("../img/image4.svg");
                margin-right: 5px;
            }
            a{
                font-family: $main_font;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}
.monstera{
    min-height: 600px;
    background-image: url(../img/monstera.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    padding-right: 87px;
    .description{
        max-width: 273px;
        h5{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
        }
        p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $silver;
        }
    }
    ul{
        display: flex;
        position: absolute;
        list-style: none;
        right: 40px;
        bottom: 45px;
        li{
            margin-left: 16px;
            &:nth-child(1)::before{
                content: url("../img/image1.svg");
                margin-right: 6px;
            }
            &:nth-child(2)::before{
                content: url("../img/image2.svg");
                margin-right: 6px;
            }
            &:nth-child(3)::before{
                content: url("../img/image3.svg");
                margin-right: 7px;
            }
            &:nth-child(4)::before{
                content: url("../img/image4.svg");
                margin-right: 5px;
            }
            a{
                font-family: $main_font;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}
.past{
    padding: 120px 0px 100px;
    background-color: #000000;
    .wraper{
        max-width: 1200px;
        align-items: center;
        margin: auto;
        h2{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            color: $white;
            margin-bottom: 15px;
        }
        h4{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: $silver;
            margin-bottom: 42px;
        }
        article{
            width: 233px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                img{
                    display: inline-block;
                    width: 128px;
                    align-items: center;
                }
            }
        }
    }
}
.past{
    .owl-carousel{
        .owl-dots{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        button.owl-dot{
            margin-left: 20px;
            &:first-of-type{
                margin-left: 0;
            }
            &.active{
                span{
                    background: rgb(255, 255, 255);
                }
            }
            span{
                 display: inline-flex;
                width: 10px;
                height: 10px;
                background: rgb(255, 255, 255, 0.5);
                border-radius: 50%;
            
            }
        }
    }
}
.star{
    min-height: 600px;
    background-image: url(../img/star.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    padding-right: 119px;
    .description{
        max-width: 254px;
        h5{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
        }
        p{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $silver;
        }
    }
    ul{
        display: flex;
        position: absolute;
        list-style: none;
        right: 40px;
        bottom: 45px;
        li{
            margin-left: 16px;
            &:nth-child(1)::before{
                content: url("../img/image1.svg");
                margin-right: 6px;
            }
            &:nth-child(2)::before{
                content: url("../img/image2.svg");
                margin-right: 6px;
            }
            &:nth-child(3)::before{
                content: url("../img/image3.svg");
                margin-right: 7px;
            }
            &:nth-child(4)::before{
                content: url("../img/image4.svg");
                margin-right: 5px;
            }
            a{
                font-family: $main_font;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

body{
    overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.section{
    position: relative;
	width: 100%;
	display: block;
}
.over-hide{
	overflow: hidden;
}
.full-height {
	height: 100vh;
}

.cd-header{
    position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:100;
}
.header-wrapper{
    position: relative;
	width: calc(100% - 100px);
	margin-left: 50px;
}
.logo-wrap{
    position: absolute;
	display:block;
	left:0;
	top: 40px;
	cursor: pointer;
    a{
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        transition : all 0.3s ease-out;
        &:hover{
            opacity: 0.9;
        }
    }
}
.nav-but-wrap{ 
	position: relative;
	display: none;
	float: right;
	transition : all 0.3s ease-out;
}
.menu-icon {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 99;
	cursor: pointer;
	display: block;
}
.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon{
    &:hover{
        .menu-icon__line-left,.menu-icon__line-right{
            width: 30px;
        }
    }
}
.nav {
	z-index: 98;
    left: 0;
    top: 0;
    &:before,&:after{
        content: "";
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(20, 21, 26,0.6);
	border-bottom-left-radius: 200%;
	z-index: -1;
	-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	-webkit-transform: translateX(100%) translateY(-100%);
          transform: translateX(100%) translateY(-100%);
    }
}
nav{
    &:after{
        background: rgba(9,9,12,1);
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
    }
    &:before{
        -webkit-transition-delay: .2s;
          transition-delay: .2s;
    }
}
.nav__content {
	position: static;
	visibility: inherit;
	top: 0;
	margin-top: 0;
	-webkit-transform: none;
    transform: none;
	width: 100%;
	text-align: center;
}
.nav__list{
    display: flex;
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
}
.nav__list-item{
    position: relative;
	display: block;
	-webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
	opacity: 1;
	text-align: center;
	-webkit-transform: none;
    transform: none;
	-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, transform .3s ease;
	transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
	margin-top: 0;
	margin-bottom: 0;
    a{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-decoration: none;
        color: $white;
        &:hover{
            color: rgba(255,255,255,1);
            &:after{
                height: 4px;
                opacity: 1;
                left: 0;
                width: 100%;
            }
        }
        
    }
}
.nav__list-item.active-nav{
    a{
        color: rgba(255,255,255,1);
        &:after{
            height: 4px;
            opacity: 1;
            left: 0;
            width: 100%;
        }
    }
}
.nav__list-item{
    .get_template{
        &:hover{
            color: #181818;
        }
    }
}
header{
    .get_template{
        padding: 9px 20px 13px;
        background: $white;
        border-radius: 14px;
        height: 42px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #000000;
    }
    .nav__content{
        li{
            margin-left: 32px;
            &:nth-child(2){
                margin-left: 56px;
            }
        }
    }
}
