header {
  padding: 30px 0px 29px;
  background-color: #181818;
  position: fixed;
  width: 100%;
  z-index: 5;
}
header .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 32px;
  box-sizing: border-box;
  align-items: center;
}

.a-studios {
  background-image: url("../img/ApStud.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.a-studios .wraper {
  max-width: 600px;
}
.a-studios .wraper h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}
.a-studios .wraper h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.a-studios .wraper p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 71px;
}
.a-studios ul {
  position: absolute;
  right: 40px;
  bottom: 46px;
  display: flex;
  list-style: none;
  text-decoration: none;
}
.a-studios ul li {
  margin-left: 16px;
}
.a-studios ul li:nth-child(1)::before {
  content: url("../img/image1.svg");
  margin-right: 6px;
}
.a-studios ul li:nth-child(2)::before {
  content: url("../img/image2.svg");
  margin-right: 6px;
}
.a-studios ul li:nth-child(3)::before {
  content: url("../img/image3.svg");
  margin-right: 7px;
}
.a-studios ul li:nth-child(4)::before {
  content: url("../img/image4.svg");
  margin-right: 6px;
}
.a-studios ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

.what_we_do {
  padding: 120px 0px 84px;
  background-color: #000000;
}
.what_we_do .wraper {
  max-width: 1200px;
  padding: 0px 16px;
  margin: auto;
}
.what_we_do .wraper h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.what_we_do .wraper h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 42px;
}
.what_we_do .holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.what_we_do article {
  max-width: 576px;
  position: relative;
  margin-bottom: 16px;
}
.what_we_do article img {
  width: 100%;
}
.what_we_do .describe {
  position: absolute;
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  bottom: 0;
}
.what_we_do .describe h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.what_we_do .describe p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 17px;
}
.what_we_do .describe a {
  position: relative;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 9px 10px 13px 42px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  text-decoration: none;
}
.what_we_do .describe a::before {
  position: absolute;
  content: " ";
  background-color: #000000;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  left: 4px;
  top: 5px;
}

.sunset {
  min-height: 600px;
  background-image: url(../img/sunset.jpg);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  padding-right: 62px;
}
.sunset .description {
  max-width: 298px;
}
.sunset .description h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.sunset .description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.sunset ul {
  display: flex;
  position: absolute;
  list-style: none;
  right: 40px;
  bottom: 45px;
}
.sunset ul li {
  margin-left: 16px;
}
.sunset ul li:nth-child(1)::before {
  content: url("../img/image1.svg");
  margin-right: 6px;
}
.sunset ul li:nth-child(2)::before {
  content: url("../img/image2.svg");
  margin-right: 6px;
}
.sunset ul li:nth-child(3)::before {
  content: url("../img/image3.svg");
  margin-right: 7px;
}
.sunset ul li:nth-child(4)::before {
  content: url("../img/image4.svg");
  margin-right: 5px;
}
.sunset ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

.monstera {
  min-height: 600px;
  background-image: url(../img/monstera.jpg);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  padding-right: 87px;
}
.monstera .description {
  max-width: 273px;
}
.monstera .description h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.monstera .description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.monstera ul {
  display: flex;
  position: absolute;
  list-style: none;
  right: 40px;
  bottom: 45px;
}
.monstera ul li {
  margin-left: 16px;
}
.monstera ul li:nth-child(1)::before {
  content: url("../img/image1.svg");
  margin-right: 6px;
}
.monstera ul li:nth-child(2)::before {
  content: url("../img/image2.svg");
  margin-right: 6px;
}
.monstera ul li:nth-child(3)::before {
  content: url("../img/image3.svg");
  margin-right: 7px;
}
.monstera ul li:nth-child(4)::before {
  content: url("../img/image4.svg");
  margin-right: 5px;
}
.monstera ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

.past {
  padding: 120px 0px 100px;
  background-color: #000000;
}
.past .wraper {
  max-width: 1200px;
  align-items: center;
  margin: auto;
}
.past .wraper h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.past .wraper h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 42px;
}
.past .wraper article {
  width: 233px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.past .wraper article a img {
  display: inline-block;
  width: 128px;
  align-items: center;
}

.past .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.past .owl-carousel button.owl-dot {
  margin-left: 20px;
}
.past .owl-carousel button.owl-dot:first-of-type {
  margin-left: 0;
}
.past .owl-carousel button.owl-dot.active span {
  background: rgb(255, 255, 255);
}
.past .owl-carousel button.owl-dot span {
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.star {
  min-height: 600px;
  background-image: url(../img/star.jpg);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  padding-right: 119px;
}
.star .description {
  max-width: 254px;
}
.star .description h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.star .description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.star ul {
  display: flex;
  position: absolute;
  list-style: none;
  right: 40px;
  bottom: 45px;
}
.star ul li {
  margin-left: 16px;
}
.star ul li:nth-child(1)::before {
  content: url("../img/image1.svg");
  margin-right: 6px;
}
.star ul li:nth-child(2)::before {
  content: url("../img/image2.svg");
  margin-right: 6px;
}
.star ul li:nth-child(3)::before {
  content: url("../img/image3.svg");
  margin-right: 7px;
}
.star ul li:nth-child(4)::before {
  content: url("../img/image4.svg");
  margin-right: 5px;
}
.star ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  transition: all 300ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.over-hide {
  overflow: hidden;
}

.full-height {
  height: 100vh;
}

.cd-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-wrapper {
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
}

.logo-wrap {
  position: absolute;
  display: block;
  left: 0;
  top: 40px;
  cursor: pointer;
}
.logo-wrap a {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease-out;
}
.logo-wrap a:hover {
  opacity: 0.9;
}

.nav-but-wrap {
  position: relative;
  display: none;
  float: right;
  transition: all 0.3s ease-out;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 99;
  cursor: pointer;
  display: block;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
  width: 16.5px;
  transition: all 200ms linear;
}

.menu-icon__line-right {
  width: 16.5px;
  float: right;
  transition: all 200ms linear;
}

.menu-icon:hover .menu-icon__line-left, .menu-icon:hover .menu-icon__line-right {
  width: 30px;
}

.nav {
  z-index: 98;
  left: 0;
  top: 0;
}
.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 21, 26, 0.6);
  border-bottom-left-radius: 200%;
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transform: translateX(100%) translateY(-100%);
}

nav:after {
  background: rgb(9, 9, 12);
  transition-delay: 0s;
}
nav:before {
  transition-delay: 0.2s;
}

.nav__content {
  position: static;
  visibility: inherit;
  top: 0;
  margin-top: 0;
  transform: none;
  width: 100%;
  text-align: center;
}

.nav__list {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.nav__list-item {
  position: relative;
  display: block;
  transition-delay: 0.8s;
  opacity: 1;
  text-align: center;
  transform: none;
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__list-item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
.nav__list-item a:hover {
  color: rgb(255, 255, 255);
}
.nav__list-item a:hover:after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.nav__list-item.active-nav a {
  color: rgb(255, 255, 255);
}
.nav__list-item.active-nav a:after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.nav__list-item .get_template:hover {
  color: #181818;
}

header .get_template {
  padding: 9px 20px 13px;
  background: #FFFFFF;
  border-radius: 14px;
  height: 42px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}
header .nav__content li {
  margin-left: 32px;
}
header .nav__content li:nth-child(2) {
  margin-left: 56px;
}/*# sourceMappingURL=main_preproc.css.map */